.add-appointment .card-body {
  display: none;
}
.apt-addheading {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
.appointment-list {
  font-size: 1.1em;
}
.appointment-list .pet-name {
  font-weight: 600;
  color: rgb(6, 129, 119);
  font-size: 1.3em;
  line-height: 100%;
}
.appointment-list .pet-item {
  border-bottom: 1px dotted gray;
}
.appointment-list .label-item {
  font-weight: 600;
  color: rgb(2, 87, 68);
}
.appointment-list .apt-date {
  font-style: italic;
}
.appointment-list .apt-notes {
  line-height: 120%;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: aqua;
}

/********************************************************************
  style ListAppointment
*********************************************************************/
.btn-danger {
  font-size:1.5em;
}
.apt-date.ml-auto {
  color: rgb(126, 3, 3);
  font-weight: 100;
}
@media only screen and (max-width: 580px) {
  .apt-date.ml-auto {
    font-size:0.8em;
    padding-left: 25%;
    font-weight: 400;
  } 
}
/********************************************************************
  style AddAppointment
*********************************************************************/

.add-appintment .card-body {
   display: none;
}  
.apt-addheading {
  cursor: pointer;
  user-select: none;
  font-size: 1.5em;
  font-weight: 400;
}
/********************************************************************
  style SearchAppointment
*********************************************************************/

.sort-by.dropdown-item.active {
  color: white;
  background: darkcyan;
}
.sort-by.dropdown-item.active:hover {
  color: white;
  background: darkcyan;
}
.sort-by.dropdown-item:hover {
  background: rgba(39, 65, 2, 0.151);
  color: darkcyan;
}

.search-bar {
  position: relative;
  
}

.search-icon {
  position: absolute;
  left: 2%;
  z-index: 99;
  font-size: 125%;
  color: gray;
}
#searchApts{
  padding-left: 12%;
}

.input-group {
  margin-left: 25%;
}

@media only screen and (max-width: 480px) {
  .input-group {
    margin-left: auto;
  }
  .input-group-append{
    margin-right: -50%;
  }
  .search-bar {
    width: 58%;
  }
  #searchApts{
    padding-left: 20%;
  }
}
